/* style.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

#app {
    margin: 0 auto;
    width: 800px;
    padding: 20px;
}

#plot-area {
    width: 800px;
    height: 350px;
    border: 1px solid #000;
    position: relative;
    margin-bottom: 20px;
}

.grid-line {
    position: absolute;
    background-color: #c8c8c8; /* Grid line color */
}

.vertical {
    width: 1px; /* Vertical line thickness */
    height: 100%; /* Full height of the plot area */
}

.horizontal {
    height: 1px; /* Horizontal line thickness */
    width: 100%; /* Full width of the plot area */
}

#word-display {
    font-size: 24px;
    margin-bottom: 20px;
}

#start-button {
    margin-top: 20px;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: absolute;
}

#target-circle {
    background-color: gray;
}

#red-marker {
    background-color: red;
}
